.bc-background-boise-state-university,
.bc-background-boise-state-university-1 { background-color: #09347a; }
.bc-color-boise-state-university,
.bc-color-boise-state-university-1 { color: #09347a; }
.bc-background-boise-state-university-2 { background-color: #007dc3; }
.bc-color-boise-state-university-2 { color: #007dc3; }
.bc-background-boise-state-university-3 { background-color: #0169a4; }
.bc-color-boise-state-university-3 { color: #0169a4; }
.bc-background-boise-state-university-4 { background-color: #3399cc; }
.bc-color-boise-state-university-4 { color: #3399cc; }
.bc-background-boise-state-university-5 { background-color: #f1632a; }
.bc-color-boise-state-university-5 { color: #f1632a; }
.bc-background-boise-state-university-6 { background-color: #464646; }
.bc-color-boise-state-university-6 { color: #464646; }
.bc-background-boise-state-university-7 { background-color: #b7b7b7; }
.bc-color-boise-state-university-7 { color: #b7b7b7; }
.bc-background-boise-state-university-8 { background-color: #f6f6f5; }
.bc-color-boise-state-university-8 { color: #f6f6f5; }